@import url("https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap");

@font-face {
  font-family: digital;
  src: url("../fonts/DS-DIGII.TTF") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "black ops one";
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../images/arquibancada.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
}

#lose-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1080px;
  height: 100%;
  background-image: url("../images/main-page-bg.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: none;
}

#lose-page-h1 {
  padding: 10px;
  margin-top: 20px;
  color: #ffdf00;
  font-size: 50px;
  width: 500px;
  text-align: center;
}

#lose-page-img {
  width: 1020px;
  height: 500px;
}

#lose-page-a {
  text-decoration: none;
  font-family: "black ops one";
  background-color: #ffdf00;
  border: none;
  font-size: 40px;
  padding: 15px;
  color: #009c3b;
  border-radius: 10px;
  box-shadow: 2px 2px #002776;
  margin-top: 10px;
}

#lose-page-h2 {
  font-size: 13px;
  color: #002776;
}
